<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FOTOSTEAM</title>
    <meta name="description" content="Fotosteam">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <link rel="manifest" href="manifest.json" /><!--CHROME > https://w3c.github.io/manifest/-->
    <!-- Firefox OS App > manufest.webapp > https://developer.mozilla.org/en-US/Apps/Build/Manifest -->

    <link rel="shortcut icon" href="/Content/Icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/Icons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/Icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/Icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/Icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/Icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/Icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/Icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/Icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/Icons/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/Icons/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/Content/Icons/favicon-160x160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/Icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/Icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/Icons/favicon-32x32.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/Icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/Content/Icons/browserconfig.xml">

    <!--<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>-->
    <!--<link href='//fonts.googleapis.com/css?family=Qwigley' rel='stylesheet' type='text/css'>-->
    <!--<link href='//fonts.googleapis.com/css?family=Teko:400,500' rel='stylesheet' type='text/css'>-->
    <link href="/Content/Fonts/google-fonts/roboto-condensed.css" rel="stylesheet" />
    <link href="/Content/Fonts/google-fonts/qwigley.css" rel="stylesheet" />
    <link href="/Content/Fonts/google-fonts/teko.css" rel="stylesheet" />

    <link href="/Content/Fonts/fontello/css/animation.css" rel="stylesheet" />
    <link href="/Content/Fonts/fontello/css/fotosteam.css" rel="stylesheet" />

    <!--<link href="/Content/Build/v1.0.2/specials.min.css" rel="stylesheet" />-->
    <link href="/Content/CSS/normalize.css" rel="stylesheet" />
    <link href="/Content/CSS/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="/Content/CSS/owl.carousel.css" rel="stylesheet" />
    <link href="/Content/CSS/owl.theme.css" rel="stylesheet" />
    <link href="/Content/CSS/toasty.css" rel="stylesheet" />
    <link href="/Content/CSS/inputs.css" rel="stylesheet" />
    <link href="/Content/CSS/tooltipster.css" rel="stylesheet" />

    <!--<link href="/Content/Build/v1.0.2/fotosteam.css" rel="stylesheet" />-->
    <link href="/Content/CSS/app.css" rel="stylesheet" />
    <link href="/Content/CSS/styles.css" rel="stylesheet" />
    <link href="/Content/CSS/styles-mobile.css" rel="stylesheet" />
    <link href="/Content/CSS/styles-medium.css" rel="stylesheet" />
    <link href="/Content/CSS/styles-large.css" rel="stylesheet" />
    <link href="/Content/CSS/styles-xlarge.css" rel="stylesheet"/>

    <link href="/Scripts/mdd_styles.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.8.3.js"></script>
    <script src="/Scripts/jquery-2.1.3.js"></script>
</head>

<body class="">

    <div id="sidebarTouchPanel"></div>

    <nav id="sidebar" class="sidebar"></nav>

    <div id="logomenu"></div>

    <div id="container" class="container">

        <header></header>

        <div id="content"></div>

        <footer></footer>
    </div>

    <!--<script src="/Scripts/Build/v1.0.2/extras.min.js"></script>-->
    <script src="/Scripts/jquery.cookie.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.scrollTo.js"></script>
    <script src="/Scripts/jquery.mousewheel.js"></script>
    <script src="/Scripts/jquery.mCustomScrollbar.js"></script>
    <script src="/Scripts/moment-with-locales.js"></script>
    <script src="/Scripts/linq.js"></script>
    <script src="/Scripts/mousetrap.js"></script>
    <script src="/Scripts/handlebars-v2.0.js"></script>
    <script src="/Scripts/jquery.toasty.js"></script>
    <script src="/Scripts/jquery.inputs.js"></script>
    <script src="/Scripts/jquery.dropit.js"></script>
    <script src="/Scripts/encoder.js"></script>
    <script src="/Scripts/jquery.tooltipster.js"></script>

    <script src="/Scripts/MarkdownDeepLib.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="/Scripts/jquery.fullsizable.js"></script>
    <!--<script src="/Scripts/Build/v1.0.2/fotosteam.min.js"></script>-->
    <script src="/Templates/compile/fotosteam-templates.js"></script>
    <script src="/Scripts_Custom/fotosteam-config.js"></script>
    <script src="/Scripts_Custom/fotosteam-tools.js"></script>
    <script src="/Scripts_Custom/fotosteam-i18n.js"></script>
    <script src="/Scripts_Custom/fotosteam-main.js"></script>
    <script src="/Scripts_Custom/fotosteam-objects.js"></script>
    <script src="/Scripts_Custom/fotosteam-authenticate.js"></script>
    <script src="/Scripts_Custom/fotosteam-route.js"></script>
    <script src="/Scripts_Custom/fotosteam-common.js"></script>
    <script src="/Scripts_Custom/fotosteam-member.js"></script>
    <script src="/Scripts_Custom/fotosteam-foto.js"></script>
    <script src="/Scripts_Custom/fotosteam-story.js"></script>
    <script src="/Scripts_Custom/fotosteam-stack.js"></script>
    <script src="/Scripts_Custom/fotosteam-overview.js"></script>
    <script src="/Scripts_Custom/fotosteam-cc0.js"></script></body>

</html>        