<a class="brand logo dropbox" href="#" onclick="global_auth_member.SelectProvider(this, storageProvider.Dropbox); return false;">
    <img src="/Content/Images/Dropbox/logo-square-180.png" alt="Dropbox" />
</a>
<a class="brand logo googledrive" href="#" onclick="global_auth_member.SelectProvider(this, storageProvider.GoogleDrive); return false;">
    <img src="/Content/Images/GoogleDrive/logo-square-180.png" alt="Google Drive" />
</a>
<a class="brand logo onedrive" href="#" onclick="global_auth_member.SelectProvider(this, storageProvider.OneDrive); return false;">
    <img src="/Content/Images/OneDrive/logo-square-180.png" alt="OneDrive" />
</a>