<div class="feature-list">
    <a class="feature" href="#" data-part="journal">
        <i class="icon icon-history" data-i18n="journal"></i>
        <p data-i18n="journal-info"></p>
    </a>
    <a class="feature" href="#" data-part="overview">
        <i class="icon icon-grid-large" data-i18n="overview"></i>
        <p data-i18n="overview-info"></p>
    </a>
    <a class="feature" href="#" data-part="category">
        <i class="icon icon-pin" data-i18n="categories"></i>
        <p data-i18n="categories-info"></p>
    </a>
    <a class="feature" href="#" data-part="topic">
        <i class="icon icon-bullseye" data-i18n="topics"></i>
        <p data-i18n="topics-info"></p>
    </a>
    <a class="feature" href="#" data-part="location">
        <i class="icon icon-location" data-i18n="locations"></i>
        <p data-i18n="locations-info"></p>
    </a>
    <a class="feature" href="#" data-part="event">
        <i class="icon icon-rocket" data-i18n="events"></i>
        <p data-i18n="events-info"></p>
    </a>
    <a class="feature" href="#" data-part="story">
        <i class="icon icon-feather" data-i18n="stories"></i>
        <p data-i18n="stories-info"></p>
    </a>
    <a class="feature" href="#" data-part="foto">
        <i class="icon icon-picture" data-i18n="foto"></i>
        <p data-i18n="foto-info"></p>
    </a>
</div>