<div style="overflow: auto; padding: 10px;">
    <a class="brand logo dropbox" href="http://www.dropbox.com/" target="_blank">
        <img src="/Content/Images/Dropbox/logo-square-100.png" alt="Dropbox" />
    </a>
    <a class="brand logo googledrive" href="http://drive.google.com/drive" target="_blank">
        <img src="/Content/Images/GoogleDrive/logo-square-100.png" alt="Google Drive" />
    </a>
    <a class="brand logo onedrive" href="http://onedrive.live.com/" target="_blank">
        <img src="/Content/Images/OneDrive/logo-square-100.png" alt="OneDrive" />
    </a>
</div>
<br style="clear:both">
