<div id="start-intro-screenshot" class="csslider">
    <input type="radio" name="slides" id="slide_journal" checked />
    <input type="radio" name="slides" id="slide_overview" />
    <input type="radio" name="slides" id="slide_foto" />
    <input type="radio" name="slides" id="slide_category" />
    <input type="radio" name="slides" id="slide_topic" />
    <input type="radio" name="slides" id="slide_location" />
    <input type="radio" name="slides" id="slide_event" />
    <input type="radio" name="slides" id="slide_story" />
    <ul>
        <li><img src="/Content/Images/FOTOSTEAM-Journal-500.jpg" alt="" /></li>
        <li><img src="/Content/Images/FOTOSTEAM-Overview-500.jpg" alt="" /></li>
        <li><img src="/Content/Images/FOTOSTEAM-Foto-500.jpg" alt="" /></li>
        <li><img src="/Content/Images/FOTOSTEAM-Category-500.jpg" alt="" /></li>
        <li><img src="/Content/Images/FOTOSTEAM-Topic-500.jpg" alt="" /></li>
        <li><img src="/Content/Images/FOTOSTEAM-Location-500.jpg" alt="" /></li>
        <li><img src="/Content/Images/FOTOSTEAM-Event-500.jpg" alt="" /></li>
        <li><img src="/Content/Images/FOTOSTEAM-Story-500.jpg" alt="" /></li>
    </ul>
</div>
