<div id="start-fotos-new" class="box box-collection">
    <h1 data-i18n="new-fotos"></h1>
    <div id="start-fotos-new-container" class="collection-container">
        <div id="start-fotos-new-wrapper" class="collection-wrapper" data-page="0">
            <div id="fotos-new-more" class="cubicle">
                <div href="#" onclick="showFotosNew(); return false;" class="icon icon-dot-3" style="cursor: pointer;">
                    <img src="/Content/Images/dummy200.png" />
                </div>
            </div>
        </div>
    </div>
</div>