<div id="cc0-fotos-fotos" class="box box-collection">
    <h1 data-i18n="license-free-photos"></h1>
    <input type="search" data-i18n-placeholder="search" class="info edit" style="clear: none; width: 200px; clear: none; float: left;" id="searchTerm" />
    <a href="#" data-i18n-title="search" id="SearchCC0Fotos">
        <i class="foto-btn btn-info icon icon-search" style="margin-left: -20px;font-size: 1.2em; float: left;"></i>
    </a> 
    <div id="cc0-fotos-top-container" class="collection-container" style="clear:both">
        <div id="cc0-fotos-top-wrapper" class="collection-wrapper" data-page="0">
          {{OverviewGrid}}
              <!--<div id="fotos-top-more" class="cubicle">
                <div href="#" onclick="showNextFotos(); return false;" class="icon icon-dot-3" style="cursor: pointer;">
                    <img src="/Content/Images/dummy200.png" />
                </div>
            </div>-->
        </div>
    </div>
</div>