<div id="figure-{{Foto.fId}}"
        data-share-image-url="{{Foto.Url}}"
        data-title="{{Foto.Title}}" style="padding-top: 0;">
        
    <div class="foto-details page-details">

        <div class="details-panel foto-meta">
            <div class="foto-meta-pic {{Foto.Orientation}}">
                <img src="{{Foto.Url640}}" data-id="{{Foto.Id}}" />
            </div>
            <div class="foto-meta-sub">

                <div style="margin-bottom: 10px;">
                    <a class="foto-btn btn-show icon icon-fullscreen tooltip-top" href="{{Foto.Url1920}}"
                       data-i18n-title="full-screen"></a>

                    {{#if Member.Options.AllowRating}}
                    {{#if Foto.AllowRating}}
                    <a class="foto-btn btn-rating btn-popout icon icon-star tooltip-top"
                       data-popout="rating-popout-{{Foto.fId}}"
                       data-i18n-title="rating">
                        <span>{{Foto.RatingSum}}</span>
                    </a>
                    {{/if}}
                    {{/if}}

                    {{#if Member.Options.AllowSharing}}
                    {{#if Foto.AllowSharing}}
                    <a class="foto-btn btn-share btn-popout icon icon-share tooltip-top"
                       data-popout="sharing-popout-{{Foto.fId}}"
                       data-i18n-title="share"></a>
                    {{/if}}
                    {{/if}}
                </div>

                <h3 data-i18n="title">Titel</h3>
                <span class="info">{{Foto.Caption}}</span>
                
                {{#if Foto.MDescription}}
                <h3 data-i18n="description">Beschreibung</h3>
                <span class="info">{{{Foto.MDescription}}}</span>
                {{/if}}

                <h3 data-i18n="publication">Veröffentlichung</h3>
                <span class="info">
                    {{Foto.PublishDate_Formatted}}
                    {{#if Foto.AllowPromoting}}
                    <i class="icon icon-paper-plane" style="float:right; opacity:0.1;"></i>
                    {{/if}}
                </span>

                <h3 data-i18n="license">Lizenz</h3>
                <span class="info info-license"><span></span>{{Foto.License}}<br /><em>{{Foto.LicenseName}}</em></span>

                {{#Foto.AllowFullSizeDownload}}
                <h3 data-i18n="download-original">Download der Originaldatei</h3>
                <a class="icon icon-download download"
                   href="{{Foto.UrlDownload}}"
                   download="{{Foto.Name}}">{{Foto.Name}}.jpg&nbsp;&nbsp;&nbsp;{{Foto.Width}}x{{Foto.Height}}px</a>
                {{/Foto.AllowFullSizeDownload}}

                {{#if Foto.CategoryList.length}}
                <h3 data-i18n="categories">Kategorien</h3>
                {{#Foto.CategoryList}}
                <a class="collection-item collection-category"
                   data-type="{{CategoryType}}"
                   href="{{CategoryUrl}}">{{CategoryName}}<i>{{CategoryPhotoCount}}</i></a>
                {{/Foto.CategoryList}}
                {{/if}}

                {{#if Foto.TopicList.length}}
                <h3 data-i18n="topics">Themen</h3>
                {{#Foto.TopicList}}
                <a class="collection-item collection-topic"
                   href="{{TopicUrl}}">{{TopicName}}<i>{{TopicPhotoCount}}</i></a>
                {{/Foto.TopicList}}
                {{/if}}

                {{#Foto.Location}}
                <h3 data-i18n="location">Ort</h3>
                <a class="collection-item collection-location"
                   data-iso-code="{{LocationCountryIsoCode}}"
                   data-latitude="{{LocationLatitude}}"
                   data-longitude="{{LocationLongitude}}"
                   href="{{LocationUrl}}">{{LocationName}}<i>{{LocationPhotoCount}}</i></a>
                {{/Foto.Location}}

                {{#Foto.Event}}
                <h3 data-i18n="event">Veranstaltung</h3>
                <a class="collection-item collection-event"
                   data-date="{{EventDate}}"
                   data-description="{{EventDescription}}"
                   href="{{EventUrl}}">{{EventName}}<i>{{EventPhotoCount}}</i></a>
                {{/Foto.Event}}

                {{#if Foto.StoryList.length}}
                <h3 data-i18n="stories">Geschichten</h3>
                {{#Foto.StoryList}}
                <a class="collection-item collection-story"
                   href="{{StoryUrl}}">{{StoryName}}<i>{{StoryPhotoCount}}</i></a>
                {{/Foto.StoryList}}
                {{/if}}

            </div>
        </div>

        <div class="location-map" style="display:none;"></div>

        <div class="details-panel foto-interaction">
            <div class="foto-comments"></div>
            <div class="foto-ratings"></div>
        </div>

        {{> FotoExif}}

        {{#if Member.Options.AllowRating}}
        {{#if Foto.AllowRating}}
        {{> FotoRating}}
        {{/if}}
        {{/if}}

        {{#if Member.Options.AllowSharing}}
        {{#if Foto.AllowSharing}}
        {{> FotoSharing}}
        {{/if}}
        {{/if}}

    </div>

</div>