<div class="box">
    <h1>Das Team</h1>
    <div id="team">
        <div class="team-person">
            <img src="/Content/Images/portrait-robert-300q.jpg">
        </div>
        <div class="team-person-info">
            <div class="team-person-left">
                <h2>Robert Bakos</h2>
                <p>Backend-Magus</p>
            </div>
            <div class="team-person-right">
                <h2>Kristof Zerbe</h2>
                <p>Frontend-Wizard</p>
            </div>
        </div>
        <div class="team-person">
            <img src="/Content/Images/portrait-kristof-300q.jpg">
        </div>
    </div>
</div>

<div class="box">
    <h1 style ="margin-bottom: 0;">Impressum</h1>
    {{#if langDE}}
    <p style="font-style: italic; margin-top: 20px;" data-i18n="legalinfo-note">
        The German 'Telemediengesetz' (German Telemedia Act) requires that German
        websites must have an 'Impressum' disclosing information about the publisher,
        including their name and address, telephone number or e-mail address, and
        other information. German websites are defined as being published by individuals
        or organisations that are based in Germany, so an Impressum is required regardless
        of whether a site is in the DE domain. There is no equivalent legislation in other
        countries, so we provide it in <strong>german language only</strong>.
    </p>
    {{/if}}
    <h4 class="strip">Angaben gemäß § 5 TMG:</h4>
    <p>
        Die nachstehenden Informationen enthalten die gesetzlich vorgesehenen
        Pflichtangaben zur Anbieterkennzeichnung auf dieser Website:
    </p>
    <p>
        <strong>FOTOSTEAM</strong><br />
        Kristof Zerbe<br />
        Schöne Aussicht 2b<br />
        65193 Wiesbaden<br />
        <a href="mailto:kristof@fotosteam.com">kristof@fotosteam.com</a>
    </p>
</div>

<div class="box">
    <h1 style="margin-bottom: 0;">Rechtliche Hinweise</h1>
    <h4 class="strip">Haftung für Inhalte</h4>
    <p>
        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf
        dieser Website nach den allgemeinen Gesetzen verantwortlich.<br />
        Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
        übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach
        Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen
        nach den allgemeinen Gesetzen bleiben hiervon unberührt.<br />
        Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis
        einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
        Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
    </p>
    <h4 class="strip">Haftung für Links</h4>
    <p>
        Diese Website enthält Links zu externen Webseiten Dritter, auf deren Inhalte
        wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch
        keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der
        jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten
        Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
        Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
        Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne
        konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden
        von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
    </p>
    <h4 class="strip">Urheberrecht</h4>
    <p>
        Die durch die Betreiber und die Mitglieder dieser Website erstellten Inhalte
        und Werke unterliegen dem deutschen Urheberrecht.<br />
        Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung
        außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung
        des jeweiligen Autors bzw. Erstellers. Downloads und Kopien von dieser Website
        sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die
        Inhalte auf dieser Website nicht vom Betreiber erstellt wurden, werden die
        Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche
        gekennzeichnet.<br />
        Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten
        wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen
        werden wir derartige Inhalte umgehend entfernen.
    </p>
    <h4 class="strip">Datenschutz</h4>
    <p>
        Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener Daten
        möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name oder
        eMail-Adresse) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger
        Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte
        weitergegeben.<br />
        Wir weisen darauf hin, dass die Datenübertragung im Internet Sicherheitslücken
        aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist
        nicht möglich.<br />
        Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch
        Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und
        Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der
        Website behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten
        Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
    </p>
    <h4 class="strip">Rechtswirksamkeit dieses Haftungsausschlusses</h4>
    <p>
        Dieser Haftungsausschluss ist als Teil der Website zu betrachten,
        von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne
        Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder
        nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes
        in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
    </p>

</div>