<form id="location-new-form">
    <div id="location-map"></div>
    <div class="field input">
        <input id="LocationName" name="LocationName" type="text"
               data-i18n-placeholder="location-name" value="" />
        <label for="LocationName" data-i18n="location-name">Name</label>
        <span id="errorLocationName" class='help-block'></span>
    </div>
    <div class="field input">
        <input id="LocationLatitude" name="LocationLatitude" type="text"
               data-i18n-placeholder="location-latitude" value="" />
        <label for="LocationLatitude" data-i18n="location-latitude">Latitude</label>
    </div>
    <div class="field input">
        <input id="LocationLongitude" name="LocationLongitude" type="text"
               data-i18n-placeholder="location-longitude" value="" />
        <label for="LocationLongitude" data-i18n="location-longitude">Longitude</label>
    </div>
    <div class="field input">
        <input id="LocationStreet" name="LocationStreet" type="text"
               data-i18n-placeholder="location-street" value="" />
        <label for="LocationStreet" data-i18n="location-street">Street</label>
    </div>
    <div class="field input">
        <input id="LocationCity" name="LocationCity" type="text"
               data-i18n-placeholder="location-city" value="" />
        <label for="LocationCity" data-i18n="location-city">City</label>
        <!--<span id="errorLocationCity" class='help-block'></span>-->
    </div>
    <div class="field input">
        <input id="LocationCounty" name="LocationCounty" type="text"
               data-i18n-placeholder="location-county" value="" />
        <label for="LocationCounty" data-i18n="location-county">County</label>
        <!--<span id="errorLocationCounty" class='help-block'></span>-->
    </div>
    <div class="field input">
        <input id="LocationCountry" name="LocationCountry" type="text"
               data-i18n-placeholder="location-country" value="" />
        <label for="LocationCountry" data-i18n="location-country">Country</label>
        <span id="errorLocationCountry" class='help-block'></span>
    </div>
    <div class="field input">
        <input id="LocationCountryIsoCode" name="LocationCountryIsoCode" type="text"
               data-i18n-placeholder="location-country-iso-code" value="" />
        <label for="LocationCountryIsoCode" data-i18n="location-country-iso-code">CountryIsoCode</label>
        <span id="errorLocationCountryIsoCode" class='help-block'></span>
    </div>
    <button class="small" data-i18n="location-new-save"></button>
</form>