<form id="topic-new-form">
    <div class="field input">
        <input id="TopicName" name="TopicName" type="text"
               data-i18n-placeholder="topic-name" value="" />
        <label for="TopicName" data-i18n="topic-name">Name</label>
        <span id="errorTopicName" class='help-block'></span>
    </div>
    <div class="field input">
        <textarea id="TopicDescription" data-i18n-placeholder="topic-description"></textarea>
        <label for="TopicDescription" data-i18n="topic-description">Description</label>
    </div>
    <button class="small" data-i18n="topic-new-save"></button>
</form>