<div id="overview-list">
    <div class="page-commands">
        <a id="overview-go-grid" href="#" class="tooltip-bottom" data-i18n-title="grid-view"><i class="icon icon-grid-large"></i></a>        
    </div>
    <ul>
        <li class="list-header">
            <strong>{{FotoCount}}</strong>
            <a href="#" class="item-id">
                <span>Id</span><br />
                <span data-i18n="orientation"></span>
            </a>
            <a href="#" class="item-name">
                <span data-i18n="title"></span><br />
                <span data-i18n="file-name"></span>
            </a>
            <a href="#" class="item-date">
                <span data-i18n="capture-date"></span><br />
                <span data-i18n="publish-date"></span>
            </a>
        </li>
    </ul>
</div>
