<div id="overview">
    <div class="page-commands">
        <a id="overview-scale-down" href="#" class="tooltip-bottom" data-i18n-title="key-scale-down" style="padding-right: 0;"><i class="icon icon-grid"></i></a>
        <div id="overview-scale">
            <a id="overview-scale-auto">auto</a>
            <div class="scale-block scale-10"></div>
            <div class="scale-block scale-9"></div>
            <div class="scale-block scale-8"></div>
            <div class="scale-block scale-7"></div>
            <div class="scale-block scale-6"></div>
            <div class="scale-block scale-5"></div>
            <div class="scale-block scale-4"></div>
            <div class="scale-block scale-3"></div>
        </div>
        <a id="overview-scale-up" href="#" class="tooltip-bottom" data-i18n-title="key-scale-up"><i class="icon icon-grid-large"></i></a>
        <a id="overview-go-list" href="#" class="tooltip-bottom" data-i18n-title="list-view"><i class="icon icon-list"></i></a>
    </div>
    <div class="collection-container">
        <div class="collection-wrapper"></div>        
    </div>
</div>