<li class="list-item">
    <a href="{{Url}}" class="foto-btn btn-show icon icon-fullscreen tooltip-top">
        <img src="{{Url200}}" />
        <span class="item-id">{{Id}}<br />{{OrientationLocale}}</span>
        <span class="item-name"><strong>{{Title}}</strong><br />{{Name}}</span>
        <span class="item-date">{{CaptureDate_Short}}<br />{{PublishDate_Short}}</span>
        <div>
            <i class="icon icon-asterisk {{IsNewDim}}" i18n-title="new"></i>
            <i class="icon icon-lock {{IsPrivateDim}}" i18n-title="private"></i>
            <i class="icon icon-feather {{IsForStoryOnlyDim}}" i18n-title="story-only"></i>
            <i class="icon icon-download {{AllowFullSizeDownloadDim}}" i18n-title="download-original"></i>
            <i class="icon icon-chat {{AllowCommentingDim}}" i18n-title="comments"></i>
            <i class="icon icon-star {{AllowRatingDim}}" i18n-title="rating"></i>
            <i class="icon icon-share {{AllowSharingDim}}" i18n-title="share"></i>
        </div>
    </a>
</li>