<div id="confirm-popout" class="popout">
    <div class="popout-wrapper">
        <div class="popout-content" style="width: 330px">
            <h3 data-i18n="{{TitleLocale}}"></h3>
            <p data-i18n="{{MessageLocale}}"></p>
            <div style="width: 272px; overflow-x: auto; overflow-y: hidden;">
                <button id="confirm-ok" data-i18n="{{OkLocale}}"></button>
                <button id="confirm-cancel" data-i18n="{{CancelLocale}}"></button>                
            </div>
        </div>
    </div>
</div>