<div id="content-popout" class="popout">
    <div class="popout-wrapper" style="max-width: 100%; width: 100%;">
        <div class="popout-content" style="width: 90%;">
            <a class="close" href="javascript:void(0);"><i class="icon icon-cancel-thin"></i></a>
            <h3 data-i18n="{{TitleLocale}}"></h3>
            <div class="popout-content-inner">
                <div class="popout-content-wrapper">
                    {{{Content}}}
                </div>
            </div>
        </div>
    </div>
</div>