div.mdd_modal
{
	position:fixed;
	top:0;
	left:0;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	z-index:1000;
	display:none;
	font-size:10pt;
	background-image:url(mdd_modal_background.png);
}
div.mdd_modal_frame
{
	width:650px;
	height:400px;
    background-color: rgba(255, 255, 255, 0.75);
	z-index:2000;
	margin:0 auto;
	margin-top:60px;
	border:solid 5px #808080;
	position:relative;
	border-radius:5px;	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

div.mdd_modal_button
{
	position:absolute;
	top:-33px;
	right:-5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:4px;
	padding-bottom:0px;
	height:20px;
	background-color:#808080;
	z-index:1999;
	border-radius:4px;	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	line-height:1em;
}

div.mdd_modal_button a
{
	color:White;
	text-decoration:none;
}

div.mdd_modal_button a:hover
{
	color:Orange;
}

div.mdd_modal_content
{
	overflow:scroll;
	overflow-x:hidden;
	position:relative;
	width:100%;
	height:100%;
}

div.mdd_ajax_loader
{
	background-position: center center;
	background-image: url(mdd_ajax_loader.gif);
	background-repeat: no-repeat;
	width:100%;
	height:200px;
}

div.mdd_syntax
{
	font-size:12pt;
	padding:10px;
}

div.mdd_syntax h2
{
	font-size:14pt;
}
div.mdd_syntax h3
{
	font-size:12pt;
}
div.mdd_syntax pre
{				
	font-size:10pt;
	border:solid 1px silver;
	padding:4px;
	background-color:#f8f8f8;
    color: black;
}

div.mdd_toolbar_wrap 
{
    width:100%;
}
div.mdd_toolbar
{
	padding:5px;
	height:20px;
}

div.mdd_toolbar ul
{
	margin:0;
	padding:0;
}

div.mdd_toolbar li
{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}

div.mdd_toolbar a.mdd_button
{
	/*background-image:url(mdd_toolbar.png);*/
	width:20px;
	height:20px;
	display:block;
    font-size: 0.65em;
    font-family: fotosteam;
    color: #222;
}
div.mdd_toolbar a.mdd_button:hover {
    color: #ed3d55;
}
span.mdd_sep
{
	width:5px;
	height:20px;
	display:none;
	border-left:solid 1px #808080;
	margin-left:5px;
}

#mdd_undo:before	{ content: '\e86c';}
#mdd_redo:before	{ content: '\e86d';}
#mdd_bold:before	{ content: '\e875'; }
#mdd_italic:before	{ content: '\e867'; }
#mdd_ullist:before	{ content: '\e86e'; } 
#mdd_ollist:before	{ content: '\e86f'; } 
#mdd_save:before	{ content: '\e878'; font-size: 1.3em; float: right; } 
#mdd_indent	        { display: none; /*content: '\e870';*/ }
#mdd_outdent	    { display: none; /*content: '\e871';*/ }
#mdd_link			{ display: none; }
#mdd_img			{ display: none; }
#mdd_hr				{ display: none; }
#mdd_code			{ display: none; }
#mdd_heading		{ display: none; }

.mdd_help { display: none; visibility: collapse; }
 
div.mdd_links
{
	float:right;
}
div.mdd_links a
{
	text-decoration:none;
	color:#404040;
	font-size:smaller;
}
div.mdd_links a:hover
{
	color:black;
}

div.mdd_editor_wrap
{
    padding-right: 0px;
}
textarea.mdd_editor
{
	width:100%;
	resize:none;
	margin:0;padding: 3px;
}

div.mdd_resizer_wrap
{
	width:100%;
}
div.mdd_resizer
{
	background:#f8f8f8; 
	background-image:url("mdd_gripper.png");
	background-position:center center;
	background-repeat:no-repeat;
	padding-left:2px;
	padding-right:2px;
	height:9px;
	border:solid 1px #d0d0d0;
	margin-top:-1px;
	cursor:n-resize;
}

